html,
body,
#cover{
    height: 100%;
}

.test{
 background-color: blue;   
}

#cover{
    background: url(../images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size : cover;
    -moz-background-size : cover;
}

.fixed-top{
    width: 1140px;
    margin: 20px auto;
}

h1{
    margin-top: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 40px;
    font-style: italic;
    margin-bottom: 30px;
}

h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        font-size: 65px;
        font-weight: 700;
        margin-bottom: 30px;
}


.btn-primary{
    background-color: #fed132;
    border-style: none;
    font-size: 18px;
    padding: 10px 40px;
}

.btn-primary:hover{
    background-color: white;
    color: #fed136;
}

a.nav-link{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 19px;
    color: white !important;
    transition: color 0.5s ease;
}

a.nav-link:hover{
    color: #fed136 !important;
}


/* Section Services */
#services{
    padding: 120px 0;
}

.services-top{
    text-align: center;
    margin-bottom: 70px;
}

.services-top h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 700;
}

.services-top p{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 13px;
    color: #777;
}

.item-circle{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin : 0 auto;
    padding: auto auto;
    border-radius: 70px;
}

.services-content i{
    line-height: 100px;
}

.services-content h4{
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: black;
}

.services-content p{
    margin-top: 20px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color:#222;
}




#portfolio{
    padding-top: 120px;
    padding-bottom: 70px;
    background-color: #f7f7f7;
}

.portfolio-top h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 700;

}
.portfolio-top p{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 13px;
    color: #777;
    margin-bottom: 70px;
}

.card{
    border-style: none;
}

.portfolio-content .row{
    margin-bottom: 50px;
}



#aboutus{
    padding-top: 120px;
    padding-bottom: 30px;
}

.aboutus-top h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 700;

}
.aboutus-top p{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 13px;
    color: #777;
    margin-bottom: 70px;
}

.aboutus-content .row{
    margin-bottom: 90px;
}

.aboutus-content h5{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutus-content p{
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.aboutus-content{
    position: relative;
}

.aboutus-content::before{
    top : 0;
    bottom : 0;
    position: absolute;
    content : "";
    width: 4px;
    background-color: #f1f1f1;
    left: 50%;
    margin-left: -2px;
}

.about-circle{
  
    position: relative;
}

.about-circle p{
  font-family: 'Courier New', Courier, monospace;
}

.about-circle::before{
    top : 0;
    bottom: 0;
    position: absolute;
    content : "";
    width: 150px;
    height: 150px;
    background-color: #fed136;
    border-radius: 150px;
    border: 6px  solid #f1f1f1;
    left: 50%;
    margin-left: -78px;
}


.yellow-text{
    position: relative;
    text-align: center;
    padding-top: 30px;
}





#team{
    background-attachment: #f9f9f9;
    padding-top : 120px;
    padding-bottom: 70px;
}

.team-top h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 700;

}
.team-top p{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 13px;
    color: #777;
    margin-bottom: 70px;
}

.team-circle{
    width: 220px;
    height: 220px;
    background-color: black;
    border-radius: 220px;
    margin : 0 auto;
    border : 6px solid #fff;
    margin-bottom: 20px;
}

.team-content h6{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: 700;
}

.team-content h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.social-icons{
    list-style-type: none;
    margin : 0;
    padding : 0;
}

.social-icon{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

.social-icon .fab{
    border: 2px solid #000;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 26px;
}

.team-content p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px auto;
    color: #777;
}